body {
    --third_color: #6cc0e2; 
    --inv: #fff;
    --whiteborder: 3px white solid;
    font-family: 'Playfair Display', serif;
    color:  rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1em;
    font-weight: bold;
  }

  @media only screen and (max-width: 500px) {
    p, li { font-size: 1em; }
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    .progress-block p { font-size: 1.2em; }  
    .typewriter p { font-size: 2em; }  
  }

  @media only screen and (min-width: 501px) {
    p, li { font-size: 1.2em; }
    h1 { font-size: 2.3em; }
    h2 { font-size: 1.7em; }
    .progress-block p { font-size: 1.4em; }  
    .typewriter p { font-size: 2.3em; } 
  }

  @media only screen and (min-width: 1024px) {
    p, li { font-size: 1.5em; }
    h1 { font-size: 2.6em; }
    h2 { font-size: 2em; }
    .progress-block p { font-size: 1.8em; } 
    .typewriter p { font-size: 2.6em; }  
  }

  @media only screen and (min-width: 1440px) {
    p, li { font-size: 2.2em; }
    h1 { font-size: 4em; }
    h2 { font-size: 2.7em; }
    .progress-block p { font-size: 2.3em; } 
    .typewriter p { font-size: 3em; }   
  }

  @keyframes show_pointer {
    from { opacity: 0;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    60% { opacity: 0;}
    to { opacity: 0;}
  }

  @keyframes show_load_block {
    from { opacity: 1;}
    to { opacity: 0;}
  }

  @keyframes show_direction {
    from { left: 30vw; opacity: 0;}
    20% { left: 30vw; opacity: 1;}
    80% { left: 60vw; opacity: 1;}
    to { left: 60vw; opacity: 0;}
  }

  @keyframes show_swipe_text {
    from { left: 30vw; opacity: 0;}
    20% { left: 30vw; opacity: 1;}
    80% { left: 60vw; opacity: 1;}
    to { left: 60vw; opacity: 0;}
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* page settigns */
  .page {
    width: 100vw;
    height: 100vh;
  }

  #main_page {
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/szklarska_mountain_gray.png) center;
    background-size: cover;
  }

  #aboutme_page {
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/texture_background.jpg) center;
    background-size: cover;
  }

  #hobbies_page {
    background: rgba(128, 128, 128, 0.068) url(img/hobbies/viedo_making.jpg) center;
    background-size: cover;
  }

  #skills_page {
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/szklarska_mountain_gray.png) center;
    background-size: cover;
  }


/* setting to main page*/
  /* main part of main page */
  /* container setting */
  .big-block-blog {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
    top:14vh;
    z-index: 3;
    background-color: rgba(82, 82, 82, 0.575);
    border-top: 3px white solid;
    border-bottom: 3px white solid;
  }

  .bottom-block-blog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }

  /* top-block setting */
  .big-block-blog h1 {
    margin-left: 12vw;
    margin-right: 10vw;
    color: var(--third_color);
  }

  .big-block-blog p {
    margin-left: 12vw;
    margin-right: 10vw;
  }

  /* menu contact */
  .blog-col {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    z-index: 11;
    justify-content: center;
  }


  .icon-contact {
    width: 8vmin;
    height: 8vmin;
    margin:1vh 2vw;
  }

  .btn-icon-contact {
    cursor:pointer;
  }
  /* email contact block*/
  #email-contact-big-block {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: #96b7c46c;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    margin: 0;
    transition: all 1s ease;
    z-index: 100;
  }

  .email-contact-medium-block {
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    border-radius: 5vw;
    border: var(--whiteborder);
    background: url(img/backgrounds/contact-background.jpg) 0 0 repeat;
    background-size:100vw 100vh;
  }

  #email-contact-small-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(167, 206, 224);
    height: 70vh;
    margin: 5vh auto;
    border-radius: 1vw;
    font-weight: 700;
    border: var(--whiteborder);
  }

  #email-show-result {
    position: absolute;
    display: none;  
    height: 100%;
    width: 100%;
    background-color: var(--third_color);
    border-radius: 1vw 0 1vw 0;
    font-weight: 600;
  }
  
  #email-show-result-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .icon-exit-contact {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    margin: auto;
  }

  .btn-exit-from-contact {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2vw;
    right:-2vw;
    width: 4vw;
    height: 4vw;
    border: var(--whiteborder);
    border-radius: 50%;
    background-color: var(--third_color);
  }

  /* contact form settings*/
  .input-block {
		font-weight: 700;
		font-size: 1.2em;
		padding: 0.5vw;
		border: 1vw rgba(247, 247, 247, 0.45) solid;
    background: url('transparent');
    margin: 0 1.56vw 1.56vw 1.56vw;
  }

  .input-block:focus {
		background: rgb(209, 209, 209);
		transition: all 0.3s ease;
		color: #222;
  }

  #btn-submit-contact {
    font-weight: 600;
		font-size: 1.4em;
    height: 10%;
    width: 50%;
    background: url('transparent');
    border: 1vw rgba(247, 247, 247, 0.45) solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color:rgb(44, 43, 43);
    text-align: center;
  }

  .textarea-form {
    height: 40%;
    resize: none;
    columns: 60;
  }

/* column page setting */
  .column {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh auto;
    text-decoration: none;
    height: 24vh;
  }

  .icon {
    width: 20vmin;
    height: 20vmin;
    align-self:center;
    transition: all .5s ease-in-out;
  }

  .icon-text {
    margin-top:1vh;
    margin-bottom:3vh;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
  }

  .column-info {
    position: absolute;
    width: 100vw;
    height: 66vh;
  }
  
  .info-text {
    max-height: 66vh;
    overflow: scroll;
    position: relative;
    margin-left:auto;
    margin-right: 0;
    width: calc(100vw - 2vw - 2vh - 4vw);
    background-color: rgba(82, 82, 82, 0.7) ;
    border-top: var(--whiteborder);
    border-bottom: var(--whiteborder);
  }

  .info-text p {
    margin: 1vh 3vw;
  }

  .secondary-info-block {
    position: relative;
    display: flex;
    flex-direction: row;
    left:0;
    width: 100%;
  }

  .info-text ul {
    list-style: none;
    padding-left: 2vw;
    font-weight: bold;
  }

  .info-text li {
    list-style-type: square;
    margin: 1vh 3vw;
  }

  .secondary-info-text li:before {
    padding-right:0.5vw;
    font-weight: bold;
    color: white;
    content: "\2714";
    transition-duration: 0.5s;
  }

  .secondary-info-text li:hover:before {
    color: rgb(24, 11, 98);
    content: "\2714";
  }

   /* settings to projects page*/

  .pr-telbot {
    background: url(img/backgrounds/bc_telbot.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-website{
    background: url(img/backgrounds/bc_website.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-calc{
    background: url(img/backgrounds/bc_calculator.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

   /* slider for photo */
   .slider, .slider-aboutme, .slider-skills, .slider-projects, .slider-hobbies {
    width: 100vw;
    height: 100vh;
   }

  .slider__wrapper-aboutme,
  .slider__wrapper-skills,
  .slider__wrapper-projects,
  .slider__wrapper-hobbies {
    position: relative;
    overflow: hidden;
  }

  .slider,
  .slider__items-aboutme,
  .slider__items-skills,
  .slider__items-projects,
  .slider__items-hobbies {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item,
  .slider__item-aboutme,
  .slider__item-skills,
  .slider__item-projects,
  .slider__item-hobbies {
    flex: 0 0 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider__control-aboutme,
  .slider__control-skills,
  .slider__control-projects,
  .slider__control-hobbies  {
    position: absolute;
    height: 100%;
    width: 15%;
    opacity: 1;
    z-index: 10;
  }

  .slider__control_show-aboutme,
  .slider__control_show-projects,
  .slider__control_show-hobbies,
  .slider__control_show-skills {
    display: flex;
  }

  .slider__control_prev-aboutme,
  .slider__control_prev-skills,
  .slider__control_prev-projects,
  .slider__control_prev-hobbies {
    left: 0;
    display: none;
  }

  .slider__control_next-aboutme,
  .slider__control_next-skills,
  .slider__control_next-projects,
  .slider__control_next-hobbies {
    right: 0;
  }

  .slider__control_prev-aboutme::before,
  .slider__control_prev-skills::before,
  .slider__control_prev-projects::before,
  .slider__control_prev-hobbies::before {
    background-image: url(img/previous-btn.png);
  }

  .slider__control_next-aboutme::before,
  .slider__control_next-skills::before,
  .slider__control_next-projects::before,
  .slider__control_next-hobbies::before {
    background-image: url(img/next-btn.png);
  }

  /* slider between pages */
.slider {
  width: 100vw;
  height: 100vh;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slider__items {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: transform 1.5s ease;
}

.slider__item {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__control_block {
  width: 100vw;
  height: 11vh;
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 15;
  margin-left: auto;
  margin-right: auto;
}

.slider__control_show {
  display: block;
}

.slider__control_prev {
  top: 0;
  animation: show_pointer 8s infinite ease-in-out;
}

.slider__control_next {
  bottom: 0;
}

.arrow-svg {
  fill: white;
  opacity: .5;
}

.slider__indicators {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 30;
  list-style: none;
  margin:0;
  padding: 0;
  justify-content: center;
}

.slider__indicators li {
  display: flex;
  width: 2vh;
  height: 2vh;
  background-color: white;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 1.5vh 0 1.5vh 2vw;
  z-index: 11;
  font-size: 1em;
}

.slider__indicators li.active {
  background-color: var(--third_color);
  transition: all .5s ease-in-out;
}

.img-fluid {
  display: inline-block;
  height: auto;
  max-height: 100%;
}
 
  /* first_slider setting */

.first_slider {
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 27, 27, 0.952);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-weight: bold;
  font-size: 1.3em;
}

.circle-3 {
  animation: show_pointer 8s infinite ease-in-out;
  animation-delay: 300ms;
}

.circle-2 {
  animation: show_pointer 8s infinite ease-in-out;
  animation-delay: 150ms ;
}

.circle-1 {
  animation: show_pointer 8s infinite ease-in-out;
  animation-delay: 0ms ;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animated-title {
  font-family: Roboto, Arial, sans-serif;
  height: 45vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 1vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(255, 255, 255);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #b6b6b6;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
/* progress bar */
.progress-block {
  display: flex;
  flex-direction: column;
}

.progress-block p {
  text-align: center;
  margin-bottom: 0;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 3vh;
  width: 60%;
  margin: 1vh auto;
  border-radius: 3px; 
  background-color: rgba(128, 128, 128, 0.767);
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar div {
  width: 32%;
  height: 2vh;
  border-radius: 3px;
  margin: 0.5vh 0 0.5vh 0;
}

.progress-bar span {
 display: block;
 height: 2vh;
 display: block;
 border-radius: 3px;  
 overflow: hidden;
 box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}

.progress-red {
  background-color:rgba(255, 0, 0, 0.4);
  transition: all .4s ease-in-out;
  transition-delay: 1s;
}

.progress-orange {
  background-color:rgba(255, 166, 0, 0.4);
  transition: all .4s ease-in-out;
  transition-delay: 1.5s;
}

.progress-green {
  background-color:rgba(0, 128, 0, 0.4);
  transition: all .4s ease-in-out;
  transition-delay: 2s;
}

.sqlite .progress-red {
  width: 100%;
}

.sqlite .progress-orange {
  width: 50%;
}

.sqlite .progress-green {
  width: 0%;
}

.git .progress-red {
  width: 100%;
}

.git .progress-orange {
  width: 100%;
}

.git .progress-green {
  width: 0%;
}

.CSS3 .progress-red {
  width: 100%;
}

.CSS3 .progress-orange {
  width: 100%;
}

.CSS3 .progress-green {
  width: 0%;
}

.python .progress-red {
  width: 100%;
}

.python .progress-orange {
  width: 50%;
}

.python .progress-green {
  width: 0%;
}

.django .progress-red {
  width: 75%;
}

.django .progress-orange {
  width: 0%;
}

.django .progress-green {
  width: 0%;
}

.html .progress-red {
  width: 100%;
}

.html .progress-orange {
  width: 100%;
}

.html .progress-green {
  width: 0%;
}

.javasctipt .progress-red {
  width: 50%;
}

.javasctipt .progress-orange {
  width: 0%;
}

.javasctipt .progress-green {
  width: 0%;
}

/* hobbies photos */
.slider__item-hobbies > div{
  width: 100vw;
  height: 100vh;
  background-position: center;
}

.hobbie-ski-snowboard {
  background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
  background-size:auto 100vh;
}

.hobbie-paintball {
  background: url(img/hobbies/paintball_brothers.JPG) 0 0 no-repeat;
  background-size:auto 100vh;
}

.hobbie-rollerblade {
  background: url(img/hobbies/me_friends_icering.JPG) 0 0 no-repeat;
  background-size:auto 100vh;
}

.hobbie-rollerskate {
  background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
  background-size:auto 100vh;
}

.hobbie-videomake {
  background: url(img/backgrounds/bg_gopro.jpg) 0 0 no-repeat;
  background-size:auto 130vh;
}

.hobbie-gaming {
  background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
  background-size:auto 100vh;
}

.hobbie-printer3d {
  background: url(img/backgrounds/bg_printing.jpg) 0 0 no-repeat;
  background-size:auto 100vh;
}