body {
    --first_color:rgb(199, 199, 199);
    --second_color:rgb(165, 165, 165);
    --third_color: #56b1d4; 
    --border_color: #56b1d4; 
    --border: 0.7vw var(--border_color) solid;
    --header_color: rgb(92, 92, 92);
    --second_font_color:rgb(209, 209, 209);
    font-family: 'Playfair Display', serif;
    color:  rgb(92, 92, 92);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1em; 
    font-weight: bold;
    overflow: hidden;
  }
  /* header setting */
  #header {
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    z-index: 500;
    display: flex;
    flex-direction: column;
  }
  
  #header-main {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color:var(--header_color);
    border-bottom: 1vw var(--border_color) solid;
    color:var(--second_font_color);

  }

  #header-main p {
    margin: auto auto;
    text-align: center;
  }

  #header-icon {
    transition: all .5s ease;
  }

  .rotate-icon {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); 
    transform: rotate(-90deg);
  }

  #header-info {
    display: flex;
    width: 100vw;
    flex-direction: row;
    background-color: var(--header_color);
    border-top: var(--border);
    overflow: hidden;
    max-height: 0;
    transition: all 1s ease-in-out;
    flex-direction: column;
    text-align: center;
  }

  #header-info p {
    color:var(--second_font_color);
    border-bottom: 1px var(--border_color) solid;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  #background-photo {
    position: fixed;
    z-index: -999;
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    background: url(img/backgrounds/bg_workspace_gray.png) center;
    background-size: cover;
    background-position: 10%;
  }

  #main-block {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    border-bottom: var(--border);
  }

  /* main_page setting */
  #main_page {
    flex-direction: row;
    height: 100vh;
  }

  .big-block-blog {
    position: relative;
    left: 0;
    width: 90vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    z-index: 3;
    border-radius: 0 3vw 3vw 0;
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border);
    background-color: var(--first_color);
    box-shadow: 0 10px 6px -6px #777;
  }

  .big-block-blog h1 {
    margin-left: 5vw;
    margin-right: 5vw;
    color: var(--third_color);
  }

  .big-block-blog p {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .blog-col {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vw;
    width: 100%;
    bottom: 0;
    z-index: 11;
  }

  .icon-contact {
    width: 10vw;
    height: 10vw;
  }

  /* email contact setting */
  #contact_page {
    text-align: center;
    padding-bottom: 0;
  }


  #email-contact-small-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 80vw;
    margin: 5vh auto;
    border-radius: 1vw;
    font-weight: 700;
    border: var(--border);
    background-color:var(--first_color);
  }

  #email-show-result {
    position: absolute;
    display: none;  
    height: 100%;
    width: 100%;
    background-color: var(--first_color);
    border-radius: 1vw 0 1vw 0;
    font-weight: 600;
    
  }
  
  #email-show-result-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .icon-exit-contact {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    margin: auto;
  }

  .btn-exit-from-contact {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4vw;
    right:-4vw;
    width: 6vw;
    height: 6vw;
    border: var(--border);
    border-radius: 50%;
    background-color: var(--third_color);
  }

  /* contact form settings*/
  .input-block {
		font-weight: 700;
		font-size: 1.2em;
		padding: 0.5vw;
		border: 1vw rgba(247, 247, 247, 0.45) solid;
    background: url('transparent');
    margin: 1vh 2vw 2vw 1vh;
  }

  .input-block:focus {
		background: rgb(209, 209, 209);
		transition: all 0.3s ease;
		color: #222;
  }

  #btn-submit-contact {
    font-weight: 600;
		font-size: 1.4em;
    height: 10%;
    width: 50%;
    background: url('transparent');
    border: 1vw rgba(247, 247, 247, 0.45) solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 2vh auto;
    color:rgb(44, 43, 43);
    text-align: center;
  } 

  .textarea-form {
    height: 30vh;
    resize: none;
    columns: 60;
  }
  /* page setting */

  #main_page .info-block, #skill_page .info-block, #hobbies_page .info-block {
    left:0;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    box-shadow: 0 10px 6px -6px #777;
    background-color: var(--first_color);

  }

  #aboutme_page .info-block, #projects_page .info-block{
    left:10vw;
    border-bottom-left-radius: 5vw;
    border-top-left-radius: 5vw;
    border-top: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    box-shadow: 0 10px 6px -6px #777;
    background-color: var(--first_color);
  }

  /* info-block setting*/
  .page-header {
    display: flex;
    width: 90vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    border: var(--border);
    box-shadow: 0 10px 6px -6px #777;
    transform: translateY(-50%);
    margin-left:5vw;
    background-color: var(--first_color);
  }

  .info-block {
    position: relative;
    width: 90vw;
    margin: 2.5vh 0;
    padding-left: 4vw;
    overflow: hidden;
    transition: all 2s ease;
  }
  
  .with-icon {
    max-height: calc(10vw + 4vh);
  }

  .without-icon {
    max-height: calc(4vh + 27px);
  }

  .active-header {
    max-height: 100vh;
  }

  .active {
    max-height: 100vh;
  }

  .block-header {
    display: flex;
    flex-direction: row;
    padding: 2vh 0;
    align-items: center;
  }

  h2.icon-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: auto 2vw;
  }

  .info-block h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .without-icon h2 {
    margin-block-start: 2vh;
    margin-block-end: 2vh;
  }

  .info-block p {
    font-size: 1em;
    padding-right: 14vw;
  }

  .with-icon .icon {
    width: 10vw;
    height: 10vw;
  }

    /* about-me page setting */
  #aboutme_page .info-block {
    left: 20vw;
  }
  
  /* hobbie slider */
@keyframes opacity_full {
  to {opacity: 1;}
}

.dg-container{
  display: flex;
	width: 100vw;
	height: calc(100vw*23/16);
}
.dg-wrapper{
	width: 100vw;
	height: calc(100vw*9/16);
	margin: auto;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper .hobbies{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
  background-color: gray;
	left: 0;
	top: 0;
  outline: var(--border);
}
.dg-wrapper .hobbies.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper .hobbies img{
	display: block;
  width: 100%;
  height: 100%;
}
.dg-wrapper .hobbies div.background-photo{
	width: 100%;
	display: block;
	position: absolute;
  transition: all 1s ease-in-out;
}
.dg-wrapper .hobbies div.hobbies-info{
	position: absolute;
  opacity: 0;
  background-color: rgba(128, 128, 128, 0.452);
}

.dg-wrapper .hobbies video{
	width: 100%;
  display: none;
  opacity: 0;
}

.dg-wrapper .hobbies.dg-center div.background-photo{
	opacity: 0;
}

.dg-wrapper .hobbies.dg-center div.hobbies-info{
	opacity: 1;
}

.dg-wrapper .hobbies.dg-center video{
  display: block;
	opacity: 1;
}

.dg-container nav{
  position:absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vw*27/16);
	z-index: 400;
  justify-content: space-between;
}
.dg-container nav span{
  display: flex;
  justify-content: space-between;
	cursor:pointer;
	height: 35%;
	width: 100%;
}

/* hobbies sliders view */
.hobbies-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 40;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
  color: aliceblue;
}

.background-video {
  position: absolute;
  max-height: 100%;
  margin: 0 auto;
  transition: all 0.5 ease-in-out;
  z-index: 20;
}

.background-photo {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.5 ease-in-out;
  z-index: 30;
}

.hobbie-ski-snowboard .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/hobbies/ski_hobbies.jpg) center no-repeat;
  background-size: 100% auto;
}

.hobbie-paintball .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/hobbies/paintball_hobbies.jpg) center no-repeat;
  background-size: 100% auto;
}

.hobbie-rollerblade .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/hobbies/icering_hobbies.JPG) center no-repeat;
  background-size: 100% auto;
}

.hobbie-rollerskate .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/backgrounds/bg_skate.jpg) center no-repeat;
  background-size: 100% auto;
}

.hobbie-videomake .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/backgrounds/bg_videomaking.jpg) center no-repeat;
  background-size: 100% auto;
}

.hobbie-gaming .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/backgrounds/bg_gopro.jpg) center  no-repeat;
  background-size: 100% auto;
}

.hobbie-printer3d .background-photo {
  background: rgba(83, 83, 83, 0.76) url(img/hobbies/3dprinting_hobbies.jpg) center no-repeat;
  background-size: 100% auto;
}

.hobbies-info p {
  text-align: justify;
  margin: 0 3vw;
  font-size: 1em;
}

