body {
    --third_color: #6cc0e2; 
    --inv: #fff;
    --whiteborder: 10px white solid;
    font-family: 'Playfair Display', serif;
    color:  rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    user-select: none;
  }
  @media screen and (max-width:1023px) {
    body {font-size: 30%;}
  }

  @media screen and (min-width:1024px) {
    body {font-size: 50%;}
  }

  @media screen and (min-width:1440px) {
    body {font-size: 80%;}
  }

  @media screen and (min-width:1920px) {
    body {font-size: 100%;}
  }

  @keyframes show_load_block {
    from { opacity: 1;}
    to { opacity: 0;}
  }

  @keyframes logo-left-part {
    from {transform: translate(20px,-5px);}
    20% {transform: translate(20px,-5px);}
    40% {transform: translate(0,0);}
    to {transform: translate(0,0);}
  }

  @keyframes logo-bottom-part {
    from {transform: translateY(-20px);}
    20% {transform: translateY(-20px);}
    40% {transform: translateY(0px);}
    to {transform: translateY(0px);}
  }

  @keyframes logo-right-part {
    from {transform: translate(-20px,-5px);}
    20% {transform: translate(-20px,-5px);}
    40% {transform: translate(0,0);}
    to {transform: translate(0,0);}
  }
  /* page settigns */
  .page {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  #main_page {
    display: flex;
    flex-direction: row;
    background: url(img/backgrounds/szklarska_mountain_gray.png) center;
    background-size: cover;
  }

  #aboutme_page {
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/texture_background.jpg) center;
    background-size: cover;
  }

  #hobbies_page {
    background: rgba(128, 128, 128, 0.068) url(img/hobbies/viedo_making.jpg) center;
    background-size: cover;
  }

  #skills_page {
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/texture_backgorund_2.png) center;
    background-size: cover;
  }

/* column page setting */
  .col-block {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .column { 
    display: flex;  
    position: relative;
    justify-content: center;
    border: 1px black solid;
    flex-direction: column;
  }

  .col7 {
    height: 100vh;
    flex: calc(100vw/7);
    transition: flex .7s ease;
    filter: grayscale(1);
  }

  .col7:hover {
    flex: 0 0 calc(100vw/3);
    height: 100vh;
    filter: grayscale(0);
  }

  .col5 {
    height: 100vh;
    flex: calc(100vw/5);
    transition: flex .7s ease;
    filter: grayscale(1);
  }

  .col5:hover {
    flex: 0 0 calc(100vw/3);
    height: 100vh;
    filter: grayscale(0);
  }

  .col3 {
    flex: calc(100vw/3);
    height: 100vh;
    transition: flex .7s ease;
    filter: grayscale(1);
  }

  .col3:hover {
    flex: 0 0 calc(100vw*0.7);
    height: 100vh;
    filter: grayscale(0);
  }

/* column blocks setting */

  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh auto;
    text-decoration: none;
    height: 30vh;
  }

  .icon {
    margin-bottom:3vh;
    width: 5vw;
    height: 5vw;
    align-self:center;
    transition: all .5s ease-in-out;
    filter: grayscale(1);
  }

  .icon-text{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0%;
    transition: all .5s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
  }

  .column-info{
    margin: 0 1vw 3vh 1vw;
    width: calc(100% - 3vw);
    height: 0;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;
    font-size: 1.5em;
  }

  /* setting how to show a column info*/
  .column:hover .icon {
    transform: scale(2);
    filter: grayscale(0);
  }

  .column:hover .icon-text {
    opacity: 100%;
  }

  .column:hover .column-info {
    height: 67vh;
    transition-delay: .5s;
  }

  .column-info:before, .column-info:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
  }
       
  .column-info:hover:before {
    transition-delay: 0s;
  }
    
  .column-info:hover:after {
    background-image: linear-gradient(-25deg, #161515d0 0%, #b8bcbed0 100%);
    transition-delay: .35s;
  }

  .column-info:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 2px white solid;
    border-left: 0;
    border-right: 0;
  }
      
  .column-info:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-image: linear-gradient(-25deg, #161515d0 0%, #b8bcbed0 100%);
  }
      
  .column-info:hover:before {
    left: 0;
    width: 100%;
  }
      
  .column-info:hover:after {
    top: 0;
    height: 100%;
  }

  .info-text {
    color: #ffffff;
    opacity: 0;
    margin: 1.5vw;
    font-size: .7em;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .main-info-text {
    width: 100%;
  }

  .secondary-info-block {
    position: relative;
    display: flex;
    flex-direction: row;
    left:0;
    width: 100%;
  }

  .column-info:hover .info-text {
    transition-delay: .85s;
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  .info-text ul {
    list-style: none;
    padding-left: 2vw;
  }

  .secondary-info-text li:before {
    padding-right:0.5vw;
    color: white;
    content: "\2714";
    transition-duration: 0.5s;
  }

  /* setting to main page*/
  /* main part of main page */
  /* container setting */
  .big-block-blog {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    left:5vw;
    top:0;
    padding:10vh 5vw 20vh 5vw;
    z-index: 3;
    background-color: rgba(71, 71, 71, 0.541);
  }
  
  .big-block-blog::after {
    content:"";
    position:absolute;
    top:70vh;
    left:0;
    width:4px;
    height:30vh;
    background:rgb(255, 255, 255)
  }

  .big-block-blog::before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:4px;
    height:30vh;
    background:rgb(255, 255, 255)
  }

  .photo-block {
    position: fixed;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-color: black;
    z-index: 4;
    left: 15vw;
    top: calc(20vh - 7vw);
    border: var(--whiteborder);
    background: url(img/main_me_foto.png) center;
    background-size: cover;
  }

  .bottom-block-blog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }

  /* top-block setting */
  .big-block-blog h1 {
    font-size: 4em;
    color:var(--third_color);
  }

  .big-block-blog p {
    font-size: 1.8em;
  }

  /* menu contact */
  .blog-col {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 100vh;
    z-index: 3;
    justify-content: center;
  }


  .icon-contact {
    width: 2vw;
    height: 2vw;
    margin:3vh 1.5vw;
  }

  .btn-icon-contact {
    cursor:pointer;
  }
  /* email contact block*/

  #email-contact-big-block {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: #96b7c46c;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    margin: 0;
    transition: all 1s ease;
  }
  .email-contact-medium-block {
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    border-radius: 5vw;
    border: var(--whiteborder);
    border-radius: 20px;
    background: url(img/backgrounds/contact-background.jpg) 0 0 repeat;
    background-size:100vw 100vh;
  }

  .email-contact-small-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(167, 206, 224);
    height: 70vh;
    margin: 5vh auto;
    border-radius: 5vw 0 5vw 0;
    font-size: 2em;
    font-weight: 900;
    border: var(--whiteborder);
  }

  .icon-exit-contact {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    margin: auto;
  }

  .btn-exit-from-contact {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.5vw;
    right:-2.5vw;
    width: 5vw;
    height: 5vw;
    border: var(--whiteborder);
    border-radius: 50%;
    background-color: var(--third_color);
  }
  /* contact form settings*/
  .input-block {
		font-weight: 700;
		font-size: 1.3em;
		padding: 0.5vw;
		border: 0.625vw rgba(247, 247, 247, .3) solid;
    background: url('transparent');
    margin: 0 1.56vw 1.56vw 1.56vw;
  }

  .input-block:focus {
		background: rgb(209, 209, 209);
		transition: all 0.3s ease;
		color: #222;
  }

  .btn-submit-contact {
    font-weight: 700;
		font-size: 1.5em;
    height: 10%;
    width: 50%;
    background: url('transparent');
    border: 0.625vw rgba(247, 247, 247, .3) solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color:rgb(44, 43, 43);
  }

  .textarea-form {
    font-size: 1.2em;
    height: 40%;
    resize: none;
    columns: 60;
  }

   /* setting to projects page*/

  .pr-telbot {
    background: url(img/backgrounds/bc_telbot.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-website{
    background: url(img/backgrounds/bc_website.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-calc{
    background: url(img/backgrounds/bc_calculator.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

   /* setting to hobbies page*/
   .hobbie-ski {
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-snowboard{
    background: url(img/backgrounds/bg_snowboard.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-rollerskate{
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-rollerblade {
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-videomake{
    background: url(img/backgrounds/bg_gopro.jpg) 0 0 no-repeat;
    background-size:auto 130vh;
  }

  .hobbie-gaming{
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
  }

  .hobbie-printer3d{
    background: url(img/backgrounds/bg_printing.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

   /* setting to skills page*/

   .skill-col {
    background-image: linear-gradient(-25deg, #16151500 0%, #b8bcbe00 100%);
   }

   .skill-col:hover {
    background-image: linear-gradient(-25deg, #16151588 0%, #b8bcbe81 100%);
   }

   /* slider for photo */
   .block-slider-main-page {
    position: absolute;
    width: 30vw;
    height: 40vh;
    right: 2.5vw;
    bottom: 2.5vh;
    z-index: 4;
    margin-right: 1.56vw;
   }
   .block-slider-project-page {
    position: absolute;
    width: 30vw;
    height: 40vh;
    right: 0;
    top: 0;
    z-index: 4;
    margin: 5.555vh auto;
   }

   .slider, .slider-telegram, .slider-website {
    width: 30vw;
    height: 40vh;
   }

  .slider__wrapper,
  .slider__wrapper-telegram,
  .slider__wrapper-website
   {
    position: relative;
    overflow: hidden;
  }

  .slider__items,
  .slider__items-telegram,
  .slider__items-website {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item,
  .slider__item-telegram,
  .slider__item-website {
    flex: 0 0 100%;
    max-width: 30vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider__photo,
  .slider__photo-telegram,
  .slider__photo-website {
    height: 40vh;
  }
  
  .slider__control,
  .slider__control-telegram,
  .slider__control-website {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 2.0833vw;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 4.63vh;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .slider__control_show,
  .slider__control_show-telegram,
  .slider__control_show-website {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus,
  .slider__control-telegram:hover,
  .slider__control-telegram:focus,
  .slider__control-website:hover,
  .slider__control-website:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  .slider__control_prev,
  .slider__control_prev-telegram,
  .slider__control_prev-website {
    left: 0;
  }

  .slider__control_next,
  .slider__control_next-telegram,
  .slider__control_next-website {
    right: 0;
  }

  .slider__control::before,
  .slider__control-telegram::before,
  .slider__control-website::before  {
    content: '';
    display: inline-block;
    width: 1.4vw;
    height: 1.4vw;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_prev::before,
  .slider__control_prev-telegram::before,
  .slider__control_prev-website::before {
    background-image: url(img/previous-btn.png);
  }

  .slider__control_next::before,
  .slider__control_next-telegram::before,
  .slider__control_next-website::before {
    background-image: url(img/next-btn.png);
  }

  .slider__indicators,
  .slider__indicators-telegram,
  .slider__indicators-website {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 0;
    bottom: 1.1vh;
    left: 0;
    z-index: 15;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__indicators li ,
  .slider__indicators-telegram li,
  .slider__indicators-website li {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    background-clip: padding-box;
    border: 1px solid white;
    padding-left: 0;
  }

  .slider__indicators li.active,
  .slider__indicators-telegram li.active,
  .slider__indicators-website li.active {
    background-color: var(--third_color);
  }

  .img-fluid, .img-fluid-telegram, .img-fluid-website {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

/* slider between pages */

.block-slider-page-changing {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  margin: 0;
 }

 .slider-general {
   width: 100%;
   height: 100%;
 }

.slider__wrapper-general {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider__items-general {
  display: flex;
  transition: transform 1.5s ease;
}

.slider__item-general {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__control-general {
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3.65vw;
  color: var(--third_color);
  text-align: center;
  opacity: 0.5;
  height: 3.65vw;
  z-index: 15;
  filter: grayscale(100%);
}

.slider__control_show-general {
  display: none;
}

.slider__control-general:hover,
.slider__control-general:focus {
  filter: grayscale(0%);
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev-general {
  left: 26vw;
}

.slider__control_next-general {
  right: calc(26vw - 3.65vw);
}

.slider__control-general::before  {
  content: '';
  display: inline-block;
  width: 2vw;  
  height: 3.5vw;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev-general::before {
  background-image: url(img/previous-btn.png);
}

.slider__control_next-general::before{
  background-image: url(img/next-btn.png);
}

.slider__indicators-general {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  z-index: 30;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

.slider__indicators-general li {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 5vw;
  height: 4vh;
  border-bottom: 0.9vh white solid;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0 1.5vw 2vh 1.5vw;
  z-index: 11;
  font-size: 1.3em;
}

.slider__indicators-general li.active {
  border-color: var(--third_color);
}

.img-fluid-general-general {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
 
.slider__indicators__name-general {
  z-index: 5;
  overflow: hidden;
  font-size: 1.1em;
  transform: translateY(.9vh);
  opacity: 0;
}
.slider__indicators-general li:hover .slider__indicators__name-general{
  transition: all .5s ease-in-out;
  transform: translateY(-.1vh);
  opacity: 1;
}

.slider__indicators-general li.active .slider__indicators__name-general{
  color: var(--third_color);
  transition: all .5s ease-in-out;
}


/* Loag block and logo settings*/
#load-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgb(54, 54, 54);
  opacity: 1;
  display: flex;
  flex-direction: column;
  animation:show_load_block 2s ease-in forwards;
  animation-delay: 5s;
  justify-content: center;
  align-items:center;
}

.logo-bottom-part {
  animation: logo-bottom-part 2s ease-in forwards;
}

.logo-left-part {
  animation: logo-left-part 2s ease-in forwards;
}

.logo-right-part {
  animation: logo-right-part 2s ease-in forwards;
}

.typewriter p {
  font-size: 2em;
  color: white;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid var(--third_color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--third_color) }
}