
body {
      --def: #96B7C4; 
    --inv: #fff;
    font-family: 'Playfair Display', serif;
    color:  rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    }

  /* menu animation */
  @keyframes menu_item_down{
    0% {bottom:10vh;}
    100% {bottom:2vh;}
  }
  @keyframes opacity_item_down{
    0% {bottom:10vh;}
    50% {opacity: 1;
         bottom: 10px;}
    100% {opacity: 0;
      bottom: 2vh;
      z-index:6;}
  }
  @keyframes opacity_item_up{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes menu_open{
    0% {width: 70px;
      height: 70px;}
    100% {width: calc(100vw/3);
        height: 100vh;
        border-radius: 0%;
        bottom: 0;
        border: 0px;
        opacity: 90%;}
  }
  /* menu settigns */

  .menu-contact, .menu-main-item, .menubtn{
    margin: auto;
    position: fixed;
    left:0;
    right:0;
    display: flex;
    bottom: 10vh;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }
  .menubtn {
    background-image: linear-gradient(-25deg, #161515 0%, #b8bcbe 100%);
    z-index: 6;
    cursor: pointer;
  }
  .menu-main-item{
    background-image: linear-gradient(-25deg, #161515 0%, #b8bcbe 100%);
    border: 2px solid rgb(134, 128, 128);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    transition: all 0.5s ease-in-out;
    z-index: 7;
  }
  .menu-item {
    display: none;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 7vh;
    margin: auto;
    position: fixed;
    left:0;
    right:0;
    padding: 21px 68px;
    font-size: 21px;
    color: var(--inv);
    letter-spacing: 16px;
    text-transform: uppercase;
    transform-origin: center;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 10;
    opacity: 0;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-main-item{
    z-index: 9;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(134, 128, 128);
  }

  .menubtn:hover{
    animation:menu_open 1s forwards;
  }
  .menubtn:hover .menu-contact{
    animation:opacity_item_up 2s ease-out forwards, menu_item_down 1s ease-out forwards;
  }
  .menubtn:hover .menu-item{
    display: flex;
    animation: opacity_item_up 2s ease-out forwards;
  }
  .menubtn:hover .menu-main-item{
    animation:opacity_item_down 2s ease-out forwards;
    transform:rotate(90deg);
    transition-delay: 1s;
    z-index:6;
  }
  .menubtn:hover .item-1{
    transform: translateY(-40vh);
  }
  .menubtn:hover .item-2{
    transform: translateY(-30vh);
  }
  .menubtn:hover .item-3{
    transform: translateY(-20vh);
  }
  .menubtn:hover .item-4{
    transform: translateY(-10vh);
  }
  .menubtn:hover .item-6{
    transform: translateX(calc(50vw - 40vw));
    transition-delay: 1s;
  }
  .menubtn:hover .item-7{
    transform: translateX(calc(50vw - 46.6666vw));
    transition-delay: 1s;
  }
  .menubtn:hover .item-8{
    transform: translateX(calc(50vw - 53.3333vw));
    transition-delay: 1s;
  }
  .menubtn:hover .item-9{
    transform: translateX(calc(50vw - 60vw));
    transition-delay: 1s;
  }
  /*menu-btn animation*/
  .menu-item:before, .menu-item:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
  }
    
  .menu-item:hover {
    color: var(--def);
    transition-delay: .5s;
  }
    
  .menu-item:hover:before {
    transition-delay: 0s;
  }
    
  .menu-item:hover:after {
    background: var(--inv);
    transition-delay: .35s;
  }

  .menu-item:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
  }
      
  .menu-item:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
  }
      
  .menu-item:hover:before {
    left: 0;
    width: 100%;
  }
      
  .menu-item:hover:after {
    top: 0;
    height: 100%;
  }
      
  
  /* page settigns */
  .main-block{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: teal;
  }
  .page {
    display: flex;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    transition: left 4s;
    left:-100vw;
  }

  #hobbies_page {
    background: rgba(128, 128, 128, 0.068) url(img/hobbies/viedo_making.jpg) center;
    background-size: cover;
  }
  #main_page {
    background: rgba(128, 128, 128, 0.068) url(img/main_background.jpg) center;
    background-size: cover;
    left: 0vw;
  }

  #skills_page{
    background: rgba(128, 128, 128, 0.068) url(img/background_foto_grey.jpeg) center;
    background-size: cover;
  }


/* solo page setting */
  .col-block {
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .column { 
    display: flex;  
    justify-content: center;
    border: 1px black solid;
  }
  
  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    text-decoration: none;
  }

  .col7 {
    height: 100vh;
    flex: calc(100vw/7);
    transition: flex 700ms ease;
    filter: grayscale(100%);
  }

  .col7:hover {
    flex: 0 0 calc(100vw/3);
    filter: grayscale(0%);
  }

  .col3 {
    flex: calc(100vw/3);
    height: 100vh;
    transition: flex 700ms ease;
    filter: grayscale(100%);
  }

  .col3:hover {
    flex: 0 0 calc(100vw/2);
    height: 100vh;
    filter: grayscale(0%);
    
  }

  .icon {
    filter: grayscale(100%);
    width: 48px;
    height: 48px;
    align-self:center;
    transition: all 0.5s ease-in-out;
  }

  .column:hover .icon{
    transform: scale(2);
    filter: grayscale(0%)
  }

  .column:hover .icon-text{
    opacity: 100%;
  }

  .icon-text{
    font-size: 20;
    text-decoration: none;
    color: rgb(159, 172, 216);
    opacity: 0%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
  }
   /* setting to projects page*/
  .pr-telbot {
    background: url(img/backgrounds/bc_telbot.jpg) 0 0 no-repeat;
  }
  .pr-website{
    background: url(img/backgrounds/bc_website.jpg) 0 0 no-repeat;
  }
  .pr-calc{
    background: url(img/backgrounds/bc_calculator.jpg) 0 0 no-repeat;
  }

   /* setting to hobbies page*/
   .hobbie-ski {
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }
  .hobbie-snowboard{
    background: url(img/backgrounds/bg_snowboard.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }
  .hobbie-rollerskate{
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }
  .hobbie-rollerblade {
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }
  .hobbie-videomake{
    background: url(img/backgrounds/bg_gopro.jpg) 0 0 no-repeat;
    background-size:auto 130vh;
  }
  .hobbie-gaming{
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
  }
  .hobbie-printer3d{
    background: url(img/backgrounds/bg_printing.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

   /* setting to skills page*/


 



  