
body {
    background: rgba(128, 128, 128, 0.068) url(img/background_foto_grey.jpeg) center 20%;
    font-family: 'Playfair Display', monospace;
    color:  rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    border: 0px;
  } 

  @keyframes animation1{
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes text-animation{
    0% {bottom: 10vh;}
    50% {bottom: 3vh;
          opacity: 1;}
    100% {opacity: 0;
          bottom: 3vh;}
  }
  @keyframes menu_open{
    0% {width: 70px;
      height: 70px;}
    100% {width: 500px;
        height: 500px;
        left: calc(50% - 250px);
        bottom: -30vh;}
  }
  @keyframes menu_item-1{
    0% {bottom: 10vh;}
    50% {left: calc(50% - 35px);
      bottom: 3vh;}
    60% {left: calc(50% - 35px - 150px);
      bottom: 3vh;}
    100% {left: calc(50% - 35px - 150px);
        bottom: 3vh;}
  }
  @keyframes menu_item-2{
    0% {bottom: 10vh;}
    50% {bottom: 3vh;}
    60% {left: calc(50% - 35px);
      bottom: 3vh;}
    70% {left: calc(50% - 35px - 90x);
      bottom: 9.5vh;}
    100% {left: calc(50% - 35px - 90px);
      bottom: 9.5vh;}
  }
  @keyframes menu_item-3{
    0% {bottom: 10vh;}
    50% {bottom: 3vh;}
    70% {bottom: 3vh;}
    80% {bottom: 13vh;}
    100% {bottom: 13vh;}
  }
  @keyframes menu_item-4{
    0% {bottom: 10vh;}
    50% {bottom: 3vh;}
    80% {left: calc(50% - 35px);
      bottom: 3vh;}
    90% {left: calc(50% - 35px + 90px);
      bottom: 9.5vh;}
    100% {left: calc(50% - 35px + 90px);
      bottom: 9.5vh;}
  }
  @keyframes menu_item-5{
    0% {bottom: 10vh;}
    50% {bottom: 3vh;}
    90% {left: calc(50% - 35px);}
    100% {left: calc(50% - 35px + 150px);
      bottom: 3vh;}
  }

  .menubtn {
    display: block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(29, 23, 23);
    position: fixed;
    bottom: 10vh;
    left: calc(50% - 35px);
    align-items: center;
    z-index: 7;
  }

  .menu-item, .menu-main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10vh;
    left: calc(50% - 35px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
  }
  .menu-main-item{
    z-index: 9;
    background-color: rgb(0, 0, 0);
  }
  .menu-item {
    z-index: 8;
    background-color: rgb(68, 60, 60);
  }
  .menu-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .menubtn:hover{
    animation:menu_open 1s forwards;
  }
  .menubtn:hover .menu-main-item{
    animation:text-animation 2s forwards; 
  }
  .menubtn:hover .menu-item{
    animation:menu_item_show 1s forwards;
  }
  .menubtn:hover .item-1{
    animation:menu_item-1 2s forwards;
  }
  .menubtn:hover .item-2{
    animation:menu_item-2 2s forwards;
  }
  .menubtn:hover .item-3{
    animation:menu_item-3 2s forwards;
  }
  .menubtn:hover .item-4{
    animation:menu_item-4 2s forwards;
  }
  .menubtn:hover .item-5{
    animation:menu_item-5 2s forwards;
  }


  .column { 
    float: left;
    color: black;   
    display: flex;
    justify-content: center;
    border: 1px black solid;
  }
  
  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    text-decoration: none;
  }

  .col7 {
    width: calc(100vw/6);
    height: 100vh;
  }

  .col3 {
    width: calc(100vw/3);
    height: 100vh;
  }

  .col-block {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .icon {
    width: 48px;
    height: 48px;
    align-self:center;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .column:hover .icon{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  .column:hover .icon-text{
    opacity: 100%;
  }

  .icon:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  .main-box {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.7);
    animation: animation1 0.5s;
  }

  .main-info{
    background-color: rgba(36, 29, 29,0.7);
    width: 90vw;
    height: 86vh;
    margin: auto auto;
  }


  .main-box:target{
    display: flex;
    flex-direction: column;
  }

  .icon-text{
    font-size: 20;
    text-decoration: none;
    color: rgba(7, 6, 6, 0.63);
    opacity: 0%;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

  .closebtn {
    float: right;
    margin: 2vh;
    width: 24px;
    height: 24px;
    text-decoration: none;

  }

  .main-text {
    margin: 6vh 4vw 2vh 4vw;
  }
 


  