body {
    --third_color: #6cc0e2; 
    --inv: #fff;
    --whiteborder: 3px white solid;
    font-family: 'Playfair Display', serif;
    color:  rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
  }
  /* page settigns */
  .page {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  #main_page {
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.068) url(img/backgrounds/szklarska_mountain.JPG) center;
    filter: grayscale(100%);
    background-size: cover;
  }

  #aboutme_page {
    background: rgba(128, 128, 128, 0.068) url(img/background_foto_grey.jpeg) center;
    background-size: cover;
  }

  #hobbies_page {
    background: rgba(128, 128, 128, 0.068) url(img/hobbies/viedo_making.jpg) center;
    background-size: cover;
  }

  #skills_page {
    background: rgba(128, 128, 128, 0.068) url(img/background_foto_grey.jpeg) center;
    background-size: cover;
  }


/* setting to main page*/
  /* main part of main page */
  /* container setting */
  .big-block-blog {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 75vh;
    left:10vw;
    top:14vh;
    z-index: 3;
    background-color: rgba(128, 128, 128, 0.575);
    border: 3px white solid;
  }

  .photo-block {
    position: fixed;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: black;
    z-index: 4;
    left: 15vw;
    top: calc(14vh - 12.5vw);
    border: 3px white solid;
    background: url(img/main_me_foto.png) center;
    background-size: cover;
  }

  .bottom-block-blog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }

  /* top-block setting */
  .big-block-blog h1 {
    margin-left: 30vw;
    margin-right: auto;
    width: auto;
    font-size: 2em;
    border-bottom: var(--whiteborder);
  }

  .big-block-blog p {
    margin-left: 2vw;
    font-size: 1em;
  }

  /* menu contact */
  .blog-col {
    position: relative;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    z-index: 11;
    justify-content: center;
  }


  .icon-contact {
    width: 8vw;
    height: 8vw;
    margin:1vh 2vw;
  }

  .btn-icon-contact {
    cursor:pointer;
  }
  /* email contact block*/

  #email-contact-big-block {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: #96b7c46c;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    margin: 0;
    transition: all 1s ease;
  }
  .email-contact-medium-block {
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    border-radius: 5vw;
    border: var(--whiteborder);
    border-radius: 20px;
    background: url(img/backgrounds/contact-background.jpg) 0 0 repeat;
    background-size:100vw 100vh;
  }

  .email-contact-small-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(167, 206, 224);
    height: 70vh;
    margin: 5vh auto;
    border-radius: 5vw 0 5vw 0;
    font-size: 2em;
    font-weight: 900;
    border: var(--whiteborder);
  }

  .icon-exit-contact {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    margin: auto;
  }

  .btn-exit-from-contact {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.5vw;
    right:-2.5vw;
    width: 5vw;
    height: 5vw;
    border: var(--whiteborder);
    border-radius: 50%;
    background-color: var(--third_color);
  }

  /* contact form settings*/
  .input-block {
		font-weight: 700;
		font-size: 1.4em;
		padding: 0.5vw;
		border: 0.625vw rgba(247, 247, 247, .3) solid;
    background: url('transparent');
    margin: 0 1.56vw 1.56vw 1.56vw;
  }

  .input-block:focus {
		background: rgb(209, 209, 209);
		transition: all 0.3s ease;
		color: #222;
  }

  .btn-submit-contact {
    font-weight: 700;
		font-size: 1.8em;
    height: 10%;
    width: 50%;
    background: url('transparent');
    border: 0.625vw rgba(247, 247, 247, .3) solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color:rgb(44, 43, 43);
  }

  .textarea-form {
    font-size: 1.3em;
    height: 40%;
    resize: none;
    columns: 60;
  }
/* column page setting */
  .column { 
    width: 100vw;
    height: 100vh;
  }

  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh auto;
    text-decoration: none;
    height: 24vh;
  }

  .icon {
    margin-bottom:3vh;
    width: 15vw;
    height: 15vw;
    align-self:center;
    transition: all .5s ease-in-out;
    filter: grayscale(1);
  }

  .icon-text {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .column-info {
    margin: auto auto;
    width: 94vw;
    height: 66vh;
    overflow: hidden;
    font-size: 1em;
    background-color: rgba(2, 26, 26, 0.404);
    border: var(--whiteborder);
  }
  .info-text p {
    margin: 1vh 3vw;
  }

  .secondary-info-block {
    position: relative;
    display: flex;
    flex-direction: row;
    left:0;
    width: 100%;
  }
  .info-text ul {
    list-style: none;
    padding-left: 2vw;
    font-weight: bold;
  }

  .secondary-info-text li:before {
    padding-right:0.5vw;
    font-weight: bold;
    color: white;
    content: "\2714";
    transition-duration: 0.5s;
  }

  .secondary-info-text li:hover:before {
    color: rgb(24, 11, 98);
    content: "\2714";
  }
  /* first_slider setting */

  .first_slider-aboutme {
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 27, 27, 0.952);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

   /* settings to projects page*/

  .pr-telbot {
    background: url(img/backgrounds/bc_telbot.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-website{
    background: url(img/backgrounds/bc_website.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

  .pr-calc{
    background: url(img/backgrounds/bc_calculator.jpg) 0 0 repeat;
    background-size:auto 100vh;
  }

   /* setting to hobbies page*/
   .hobbie-ski {
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-snowboard{
    background: url(img/backgrounds/bg_snowboard.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-rollerskate{
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-rollerblade {
    background: url(img/backgrounds/bg_skate.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

  .hobbie-videomake{
    background: url(img/backgrounds/bg_gopro.jpg) 0 0 no-repeat;
    background-size:auto 130vh;
  }

  .hobbie-gaming{
    background: url(img/backgrounds/bg_ski.jpg) 0 0 no-repeat;
  }

  .hobbie-printer3d{
    background: url(img/backgrounds/bg_printing.jpg) 0 0 no-repeat;
    background-size:auto 100vh;
  }

   /* setting to skills page*/

   .skill-col {
    background-image: linear-gradient(-25deg, #16151500 0%, #b8bcbe00 100%);
   }

   .skill-col:hover {
    background-image: linear-gradient(-25deg, #16151588 0%, #b8bcbe81 100%);
   }

   /* slider for photo */
   .slider-aboutme, .slider-skills, .slider-projects {
    width: 100vw;
    height: 100vh;
   }

  .slider__wrapper-aboutme,
  .slider__wrapper-telegram,
  .slider__wrapper-website
   {
    position: relative;
    overflow: hidden;
  }

  .slider__items-aboutme,
  .slider__items-telegram,
  .slider__items-website {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item-aboutme,
  .slider__item-telegram,
  .slider__item-website {
    flex: 0 0 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider__photo-aboutme,
  .slider__photo-telegram,
  .slider__photo-website {
    height: 100vh;
  }
  
  .slider__control-aboutme,
  .slider__control-telegram,
  .slider__control-website {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 2.0833vw;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 4.63vh;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .slider__control_show-aboutme,
  .slider__control_show-telegram,
  .slider__control_show-website {
    display: flex;
  }

  .slider__control-aboutme:hover,
  .slider__control-aboutme:focus,
  .slider__control-telegram:hover,
  .slider__control-telegram:focus,
  .slider__control-website:hover,
  .slider__control-website:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  .slider__control_prev-aboutme,
  .slider__control_prev-telegram,
  .slider__control_prev-website {
    left: 0;
  }

  .slider__control_next-aboutme,
  .slider__control_next-telegram,
  .slider__control_next-website {
    right: 0;
  }

  .slider__control-aboutme::before,
  .slider__control-telegram::before,
  .slider__control-website::before  {
    content: '';
    display: inline-block;
    width: 1.4vw;
    height: 1.4vw;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_prev-aboutme::before,
  .slider__control_prev-telegram::before,
  .slider__control_prev-website::before {
    background-image: url(img/previous-btn.png);
  }

  .slider__control_next-aboutme::before,
  .slider__control_next-telegram::before,
  .slider__control_next-website::before {
    background-image: url(img/next-btn.png);
  }

  .slider__indicators-aboutme,
  .slider__indicators-telegram,
  .slider__indicators-website {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 0;
    bottom: 1.1vh;
    left: 0;
    z-index: 15;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__indicators-aboutme li ,
  .slider__indicators-telegram li,
  .slider__indicators-website li {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    background-clip: padding-box;
    border: 1px solid white;
    padding-left: 0;
  }

  .slider__indicators-aboutme li.active,
  .slider__indicators-telegram li.active,
  .slider__indicators-website li.active {
    background-color: var(--third_color);
  }

  .img-fluid-aboutme, .img-fluid-telegram, .img-fluid-website {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

/* slider between pages */


.slider-general {
   width: 100%;
   height: 100%;
}

.slider__wrapper-general {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider__items-general {
  display: flex;
  transition: transform 1.5s ease;
}

.slider__item-general {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__control-general {
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3.65vw;
  color: var(--third_color);
  text-align: center;
  opacity: 0.5;
  height: 3.65vw;
  z-index: 15;
  filter: grayscale(100%);
}

.slider__control_show-general {
  display: none;
}

.slider__control-general:hover,
.slider__control-general:focus {
  filter: grayscale(0%);
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev-general {
  left: 26vw;
}

.slider__control_next-general {
  right: calc(26vw - 3.65vw);
}

.slider__control-general::before  {
  content: '';
  display: inline-block;
  width: 2vw;  
  height: 3.5vw;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev-general::before {
  background-image: url(img/previous-btn.png);
}

.slider__control_next-general::before{
  background-image: url(img/next-btn.png);
}

.slider__indicators-general {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 3.06vh;
  z-index: 30;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

.slider__indicators-general li {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 5vw;
  height: 0;
  border-bottom: 0.5vw white solid;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0 1.5vw;
  z-index: 11;
  font-size: 1.3em;
}

.slider__indicators-general li.active {
  border-color: var(--third_color);
}

.img-fluid-general-general {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
 
.slider__indicators__name-general {
  z-index: 5;
  overflow: hidden;
  font-size: 1.3em;
  transform: translateY(.5vh);
  opacity: 0;
}
.slider__indicators-general li:hover .slider__indicators__name-general{
  transition: all .5s ease-in-out;
  transform: translateY(-1vh);
  opacity: 1;
}

.slider__indicators-general li.active .slider__indicators__name-general{
  color: var(--third_color);
  transition: all .5s ease-in-out;
}

  