
body {
    font-family: 'Playfair Display', monospace;
    color:  rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    border: 0px;
  } 
  /* menu animation */
  @keyframes menu_item_down{
    0% {bottom:10vh;}
    100% {bottom: 2vh;}
  }
  @keyframes opacity_item_down{
    0% {bottom:10vh;}
    50% {opacity: 1;
         bottom: 10px;}
    100% {opacity: 0;
      bottom: 2vh;
      z-index:6;}
  }
  @keyframes cross_animation{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes menu_open{
    0% {width: 70px;
      height: 70px;}
    100% {width: 600px;
        height: 100vh;
        left: calc(50% - 300px);
        border-radius: 0%;
        bottom: 0;
        border: 0px;
        opacity: 90%;}
  }
  /* page changing animation */
  @keyframes slide-left-0vw{
    0% {left:-100vw}
    100% {left: 0vw}
  }
  @keyframes slide-left-100vw{
    0% {left:0vw}
    100% {left:100vw}
  }
  /* menu settigns */
  .menubtn {
    display: flex;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(29, 23, 23);
    position: fixed;
    bottom: 10vh;
    left: calc(50% - 35px);
    align-items: center;
    z-index: 7;
    border: 2px solid rgb(134, 128, 128);
    
  }

  .menu-contact, .menu-main-item, .menu-cross{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10vh;
    left: calc(50% - 35px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }
  .menu-cross {
    width: 70px;
    height: 70px;
    bottom: 12vh;
    left: calc(50% - 35px);
    transform-origin: center;
    opacity: 0;
    z-index: 7;
  }
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: rgb(73, 67, 67);
    transform:rotate(45deg);
    transition: 0s;
    transform-origin: center;
    z-index: 10;
    opacity: 0;
    border: 2px solid rgb(134, 128, 128);
  }

  .item-1, .item-2, .item-3, .item-4  {
    bottom: 12vh;
    left: calc(50% - 35px);
  }

  .menu-main-item{
    z-index: 9;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(134, 128, 128);
  }

  .link-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transform:rotate(-45deg);
    transition: 0s;
    transform-origin: center;
  }

  .menubtn:hover{
    animation:menu_open 1s forwards;
  }
  .menubtn:hover .menu-cross{
    animation:cross_animation 2s ease-out forwards;
  }
  .menubtn:hover .menu-contact{
    animation:menu_item_down 1s forwards ease-out;
  }
  .menubtn:hover .menu-main-item{
    animation:opacity_item_down 2s ease-out forwards;
    transform:rotate(90deg);
    transition-delay: 1s;
    z-index:6;
  }
  .menubtn:hover .item-1{
    transform: translate(80px, -0px) rotate(45deg);
    animation:cross_animation 2s ease-out forwards;
  }
  .menubtn:hover .item-2{
    transform: translate(-82px, -0px) rotate(45deg);
    animation:cross_animation 2s ease-out forwards;
  }
  .menubtn:hover .item-3{
    transform: translate(-2px, -80px) rotate(45deg);
    animation:cross_animation 2s ease-out forwards;
  }
  .menubtn:hover .item-4{
    transform: translate(-2px, 80px) rotate(45deg);
    animation:cross_animation 2s ease-out forwards;
  }
  .menubtn:hover .item-6{
    transform: translateX(230px);
    transition-delay: 1s;
  }
  .menubtn:hover .item-7{
    transform: translateX(110px);
    transition-delay: 1s;
  }
  .menubtn:hover .item-8{
    transform: translateX(-110px);
    transition-delay: 1s;
  }
  .menubtn:hover .item-9{
    transform: translateX(-230px);
    transition-delay: 1s;
  }

  /* page settigns */
  .main-block{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: teal;
  }
  .page {
    display: flex;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    transition: left 4s;
    left:-100vw;
  }

  #hobbies_page {
    background: rgba(128, 128, 128, 0.068) url(img/hobbies/viedo_making.jpg) center;
    background-size: cover;
    filter: grayscale(100%);
  }
  #main_page {
    background: rgba(128, 128, 128, 0.068) url(img/main_background.jpg) center;
    background-size: cover;
    filter: grayscale(100%);
    left: 0vw;
  }
  #projects_page {
    background: rgba(128, 128, 128, 0.068) url(img/project.jpg) center;
    background-size: cover;
    filter: grayscale(100%); 
  }
  #skills_page{
    background: rgba(128, 128, 128, 0.068) url(img/background_foto_grey.jpeg) center;
    background-size: cover;
  }



  .column { 
    float: left;
    color: black;   
    display: flex;
    justify-content: center;
    border: 1px black solid;
  }
  
  .column-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    text-decoration: none;
  }

  .col7 {
    width: calc(100vw/6);
    height: 100vh;
  }

  .col3 {
    width: calc(100vw/3);
    height: 100vh;
  }

  .col-block {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .icon {
    filter: grayscale(100%);
    width: 48px;
    height: 48px;
    align-self:center;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hided-photo {
    opacity: 0;
  }

  .column:hover .icon{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  .column:hover .icon-text{
    opacity: 100%;
  }

  .icon:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  .main-box {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.7);
    animation: animation1 0.5s;
  }

  .main-info{
    background-color: rgba(36, 29, 29,0.7);
    width: 90vw;
    height: 86vh;
    margin: auto auto;
  }


  .main-box:target{
    display: flex;
    flex-direction: column;
  }

  .icon-text{
    font-size: 20;
    text-decoration: none;
    color: rgba(7, 6, 6, 0.63);
    opacity: 0%;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

  .closebtn {
    float: right;
    margin: 2vh;
    width: 24px;
    height: 24px;
    text-decoration: none;

  }

  .main-text {
    margin: 6vh 4vw 2vh 4vw;
  }


 



  