<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="menu-line">
    <a role="button" onclick="changepage('main_page')"><div class="menu-item item-1"><p>Main</p></div></a>
    <a role="button" onclick="changepage('skills_page')"><div class="menu-item item-2"><p>Skills</p></div></a>
    <a role="button" onclick="changepage('hobbies_page')"><div class="menu-item item-3"><p>Hobbies</p></div></a>
    <a role="button" onclick="changepage('projects_page')"><div class="menu-item item-4"><p>Projects</p></div></a>  
</div>
{% block content %} {% endblock %}
<script>
    'use strict';
    let current_page = 'main_page';
    let last_page = '';
    let is_f_start = 0 ;
    function changepage(go_to_page){
        ++is_f_start;
        if (is_f_start > 1){
            --is_f_start;
            return console.log('функция запущена');
        }
        if (go_to_page==current_page){
            --is_f_start;
            return console.log('Current page');
        } else {
        document.getElementById(go_to_page).style.left = '0vw'; 
        document.getElementById(current_page).style.left = '100vw';

        setTimeout(function() {
        document.getElementById(current_page).style.transition = "left 0s";
        document.getElementById(current_page).style.left = '-100vw';
        last_page = current_page;
        current_page = go_to_page;
        }, 4200);

        setTimeout(function() {
        document.getElementById(last_page).style.transition = "left 4s";
        is_f_start = 0;
        }, 4300);
        }
    }

    function more_about_me(){
        
    }
</script>

</body>
</html>