<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
<div class="menubtn" >
    <span class="menu-main-item">Menu</span>
    <div class="menu-item item-1"><a href="">AboutMe</a></div>
    <div class="menu-item item-2"><a href="/skills">Skills</a></div>
    <div class="menu-item item-3"><a href="/projects">Projects</a></div>
    <div class="menu-item item-4"><a href="/hobbies">Hobbies</a></div>
    <div class="menu-item item-5"><a href="/gallery">Gallery</a></div>       
</div>
</div>
{% block content %} {% endblock %}
</body>
</html>