{% extends 'blog/base.html'%}
{% load static %}
{% block title %}
Projects - hobbies
{% endblock %}
{% block content %}
<div class='hobbies page'>
<div class='col-block'>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/snowboard.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/skate.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/rollerblade.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/youtube.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/controller-classic.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/printer-3d.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
</div>
</div>
{% endblock %}