{% extends 'blog/base.html'%}
{% load static %}
{% block title %}
Maksym Mishchuk
{% endblock %}
{% block content %}
<div class='main-block'>
<div id="main_page">
    <h1>main page</h1>
    </div>
<div id="projects_page">
    <div class='col-block'>
        <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/robot-excited.png' %}" alt=''>
        </div>
        <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/calculator.png' %}" alt=''>
        </div>
        <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/application.png' %}" alt=''>
        </div>
    </div>
    </div>
<div id="hobbies_page">
<div class='col-block'>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/snowboard.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/skate.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/rollerblade.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/youtube.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/controller-classic.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
    <div class='column col7'><img class='icon' src="{% static 'blog/img/icons/printer-3d.png' %}" alt=''>
        <img class='hided-photo' src="{% static 'blog/img/icons/ski.png' %}" alt=''>
    </div>
</div>
    </div>
<div id="skills_page">
        <div class='col-block'>
            <div class='column col7'>
                <a class='column-link' href='#sqlite-info'>
                <img class='icon' src="{% static 'blog/img/icons/database-search.png' %}" alt=''>
                <h2 class='icon-text'>SQLite</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#git-info'>
                <img class='icon' src="{% static 'blog/img/icons/git.png' %}" alt=''>
                <h2 class='icon-text'>Git</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#CSS3-info'>
                <img class='icon' src="{% static 'blog/img/icons/language-css3.png' %}" alt=''>
                <h2 class='icon-text'>CSS3</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#python-info'>
                <img class='icon' src="{% static 'blog/img/icons/language-python.png' %}" alt=''>
                <h2 class='icon-text'>Python</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#django-info'>
                <img class='icon' src="{% static 'blog/img/icons/django_logo.png' %}" alt='' width="48px" height="48px">
                <h2 class='icon-text'>Django</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#html5-info'>
                <img class='icon' src="{% static 'blog/img/icons/language-html5.png' %}" alt=''>
                <h2 class='icon-text'>HTML5</h2>
            </a>
            </div>
            <div class='column col7'>
                <a class='column-link' href='#javascript-info'>
                <img class='icon' src="{% static 'blog/img/icons/language-javascript.png' %}" alt=''>
                <h2 class='icon-text'>JavaScript</h2>
            </a>
            </div>
        </div>
        <div id='sqlite-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"></a>
            <h1 class="main-text">Sqlite</h1>
            <h3 class="main-text">Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.</h3>
        </div>
        </div>
        <div id='git-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">Git</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
        <div id='CSS3-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">CSS3</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
        <div id='python-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">Python</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
        <div id='django-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">Django</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
        <div id='html5-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">HTML5</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
        <div id='javascript-info' class='main-box'>
            <div class="main-info">
            <a href="skills" class="closebtn"><img src="{% static 'blog/img/icons/close_thick.png' %}" alt=''></a>
            <h1 class="main-text">JavaScript</h1>
            <h3 class="main-text"></h3>
        </div>
        </div>
    </div>
</div>
{% endblock %}  