<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
{% block title %}
Projects - maxxsiz
{% endblock %}
{% block content %}
<div class='col-block'>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/robot-excited.png' %}" alt=''>
    </div>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/calculator.png' %}" alt=''>
    </div>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/application.png' %}" alt=''>
    </div>
</div>
{% endblock %}