<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
{% block title %}
Projects - maxxsiz
{% endblock %}
{% block content %}
<div class='projects page'>
<div class='col-block'>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/robot-excited.png' %}" alt=''>
    </div>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/calculator.png' %}" alt=''>
    </div>
    <div class='column col3'><img class='icon' src="{% static 'blog/img/icons/application.png' %}" alt=''>
    </div>
</div>
<div class='blog-col'>
    <div class='article'>
        <h1>My studies</h1>
        <p>Briefly about where I studied and the reasons for my choice ...</p>
        <div class="btn-more-blog"><span>More</span></div>
    </div>
    <div class='article'>
        <h1>Why I choose IT sphere</h1>
        <p>I didn't always want to be a programmer though but ...</p>
        <div class="btn-more-blog"><span>More</span></div>
    </div>
    <div class='article'>
        <h1>How I work and study</h1>
        <p>"if i need to do something i will find how to do it"</p>
        <div class="btn-more-blog"><span>More</span></div>
    </div>
    <div class='article'>
        <h1>About my personality</h1>
        <p>Even though I'm an introvert ...</p>
        <div class="btn-more-blog"><span>More</span></div>
    </div>
    <div class='article'>
        <h1>My work experience</h1>
        <p>As i said, i am a beginner programmer but ...</p>
        <div class="btn-more-blog"><span>More</span></div>
    </div>
</div>
</div>
{% endblock %}