<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
{% block title %}
Skills - maxxsiz
{% endblock %}
{% block content %}
<div class='col-block'>
    <div class='column col7 col-1'><img class='icon' src="{% static 'blog/img/icons/database-search.png' %}" alt=''>
    </div>
    <div class='column col7 col-2'><img class='icon' src="{% static 'blog/img/icons/git.png' %}" alt=''>
    </div>
    <div class='column col7 col-3'><img class='icon' src="{% static 'blog/img/icons/language-css3.png' %}" alt=''>
    </div>
    <div class='column col7 col-python'><img class='icon' src="{% static 'blog/img/icons/language-python.png' %}" alt=''>
    </div>
    <div class='column col7 col-5'><img class='icon' src="{% static 'blog/img/django_logo.png' %}" alt=''>
    </div>
    <div class='column col7 col-6'><img class='icon' src="{% static 'blog/img/icons/language-html5.png' %}" alt=''>
    </div>
    <div class='column col7 col-7'><img class='icon' src="{% static 'blog/img/icons/language-javascript.png' %}" alt=''>
    </div>
</div>
<div class='main-info'>
    <p>python</p>
</div>
{% endblock %}

