{% extends 'blog/base.html'%}
{% load static %}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock %}
{% block title %}
Maksym Mishchuk - Hello world!
{% endblock %}
{% block content %}
<div id="load-block">
    <svg class="logo-load" width="160px" height="160px">
        <path class="logo-left-part" d="M32 124 L20 115 L20 35 L37 48 L37 64 L32 60 z" fill="black"></path>
        <path class="logo-bottom-part" d="M55 77 L55 61 L80 80 L105 61 L105 77 L80 96 z" fill="black"></path>
        <path class="logo-right-part" d="M128 124 L140 115 L140 35 L123 48 L123 64 L128 60 z" fill="black"></path>
        <path class="logo-main-part" d="M40 30 L80 60 L120 30 L120 130 L108 140 L108 55 L80 76 L52 55 L52 140 L40 130 z" fill="#6cc0e2"></path>
    </svg>
    <div class="typewriter">
        <p>Maksym Mishchuk</p>
    </div>
</div>
<div class="block-slider-page-changing">
    <div class="slider-general">
        <div class="slider__wrapper-general">
            <div class="slider__items-general">
                <div class="slider__item-general">
                    <div id="main_page" class="page">
                        <div class="big-block-blog">
                            <h1>Maksym Mishchuk</h1>
                            <p>... and I am a beginner programmer. My path as a programmer began in 2019 when I realized that I was going the wrong way.</p>
                            <p>Right now I'm trying to expand and improve my programming skills by writing different sometimes banal, sometimes unique projects.</p>
                        </div>
                        <div class="photo-block"></div>
                        <div class="blog-col">
                            <a href="https://www.instagram.com/maxxsiz/"><img class="icon-contact" src="{% static 'blog/img/icons/instagram_white.png' %}" alt=""></a>
                            <a href="https://github.com/maxxsiz"><img class="icon-contact" src="{% static 'blog/img/icons/github_white.png' %}" alt=''></a>
                            <a href="https://www.facebook.com/maks.miszczuk.1"><img class="icon-contact" src="{% static 'blog/img/icons/facebook_white.png' %}" alt=""></a>
                            <a href="https://www.youtube.com/channel/UCNp3ltUUB9vcJ9yAvSN0tyA"><img class="icon-contact" src="{% static 'blog/img/icons/youtube_white.png' %}" alt=""></a>
                            <a class="btn-icon-contact" role="button" onclick="contact_email()"><img class="icon-contact" src="{% static 'blog/img/icons/mail_icon_white.png' %}" alt=""></a>
                        </div>
                        <div id="email-contact-big-block">
                            <div class="email-contact-medium-block">
                                <form class="email-contact-small-block" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input class="input-block" id="your_name" placeholder="Name" type="text">
                                    <input class="input-block" id="your_email" placeholder="E-mail" type="email">
                                    <textarea class="input-block textarea-form" id="your_message" placeholder="Enter text here..." type="text" required></textarea>
                                    <button class="btn-submit-contact" type="submit">Send</button>
                                    <div class="btn-exit-from-contact">
                                        <a role="button" onclick="contact_email()"><img class="icon-exit-contact" src="{% static 'blog/img/icons/cross_exit_icon.png' %}" alt=""></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item-general">
                    <div id="aboutme_page" class="page">
                            <div class="col-block">
                                <div class="column col5 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/study_icon.png' %}" alt="">
                                    <h2 class="icon-text skill-col">My studies</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>At the very beginning, I entered the Krakow Polytechnic at the Faculty of Biotechnology. The reasons 
                                                for this decision were the father's desire to follow in his footsteps. Two years later, I realized that it was not mine.</p>
                                            <p>Then I entered the University of Wroclaw at the Faculty of Informatics. The first year of study was incredibly difficult.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col5 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/it_sphere_icon.png' %}" alt="">
                                    <h2 class="icon-text">Why IT sphere?</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>I always spent a lot of time with the computer, which is why I was approached from school for various tips and problems.
                                                When I got bored of biotechnology, I began to consider the options of areas that I liked the most. So I settled on IT.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col5 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/workandstudy_icon.png' %}" alt="">
                                    <h2 class="icon-text">How i Code?</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>I am currently learning programming languages ​​on my own.
                                                The learning process is about trying to create a larger project. As I achieve my goals, 
                                                I face new problems and try to find tools to solve them.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col5 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/skills_icon.png' %}" alt="">
                                    <h2 class="icon-text">My personality</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>First of all, I am a strong introvert, sometimes I prefer to spend free time at the computer than on a walk in the city. 
                                                In addition, I consider myself a very responsible person, this applies to both private and professional issues.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col5 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/unknownperson_icon.png' %}" alt="">
                                    <h2 class="icon-text">Work experience</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>I do not have any professional practice in the field of IT.
                                                Of course, I worked in gastronomy and also did an internship at an agronomist company as a consultant.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="slider__item-general">
                    <div id="skills_page" class="page">
                            <div class="col-block">
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/database.png' %}" alt="">
                                    <h2 class="icon-text skill-col">SQLite</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 10+ months.</p>
                                            <p>Statistics has always attracted me, recently I used Excel and Google spreadsheets for various purposes.
                                                After learning the basics of SQLite, I decided to use the knowledge gained in practice in the project of the calculator
                                                for browser game and processing of information on cryptocurrency rates.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/git.png' %}" alt="">
                                    <h2 class="icon-text">Git</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 15+ months.</p>
                                            <p>I first met GIT at university, it was a class dedicated to working with Linux. The more specific
                                                task was to force us to use only the terminal, from creating folders to
                                                full control over the project on GitHub.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/language-css.png' %}" alt="">
                                    <h2 class="icon-text">CSS3</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 3+ months.</p>
                                            <p>Now I am studing CSS parallel to creating my portfolio. I do not see any intentions to go much deeper into the functionality,
                                                since I'm not going to become a frontend specialist.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/language-python.png' %}" alt="">
                                    <h2 class="icon-text">Python</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 15+ months.</p>
                                            <p>Python was the main programming language for me.
                                            I started learning Python at the university, but now I do it mostly by myself, 
                                            because the university was more inclined to teach us different algorithms and performance,
                                            instead of various functionalities.</p>
                                            <p>List of used tools:</p>
                                            <ul>
                                                <li>NumPy</li>
                                                <li>Pillow</li>
                                                <li>Plotly</li>
                                                <li>BeautifulSoup</li>
                                                <li>Django</li>
                                                <li>Kivy</li>
                                                <li>KivyMD</li>
                                                <li>Telegram Bot API</li>
                                                <li>Pyautogui</li>
                                            </ul>
                                            <p>I don't have a specific list of frameworks to study. I try to learn by creating different projects.
                                                This way I research new libraries and deep my knowledge in Python.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/framework-django.png' %}" alt="">
                                    <h2 class="icon-text">Django</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 3+ months.</p>
                                            <p>Of course, Django could not be missed by me while studying various libraries. Django can help me to implement my ideas into life in the future.
                                                One of such ideas was to create an online service for friends parties, where various board games would be easily accessed.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/language-html.png' %}" alt="">
                                    <h2 class="icon-text">HTML5</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 4+ months.</p>
                                            <p>HTML is very easy and quick to learn. Similarly to the situation with CSS, I'm not going
                                               become an HTML specialist.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col7 skill-col">
                                    <a class="column-link" href="#javascript-info">
                                    <img class="icon" src="{% static 'blog/img/icons/language-javascript1.png' %}" alt="">
                                    <h2 class="icon-text">JavaScript</h2>
                                    </a>
                                    <div class="column-info">
                                        <div class="info-text">
                                            <p>Learning time: 3+ months.</p>
                                            <p>During working with CSS and HTML I needed a tool to add some compicated animation to my website.
                                                Of course, JavaScript was the perfect choise. JS is the third serious programming language I've come across.
                                                After Python, it was quite easy to enter an unusual structure. My knowledge of JS at the moment
                                                is basic, I took a few online courses, including OOP.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="slider__item-general">
                    <div id="projects_page" class="page">
                        <div class="col-block">
                            <div class="column col3 pr-telbot">
                                <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/telegram-icon.png' %}" alt="">
                                    <h2 class="icon-text">Telegram BOT</h2>
                                </a>
                                <div class="column-info">
                                    <div class="info-text">
                                        <div class="main-info-text">
                                            <p>The idea was to make a helper bot for the clan in the game Clash Royale.
                                                The bot was used in practice, but was not deployed
                                                on hosting. The bot is currently disabled and not in use.
                                                An update will be required for further use.</p>
                                        </div>
                                        <div class="secondary-info-block">
                                            <div class="secondary-info-text">
                                                <p>Bot features:</p>
                                                <ul>
                                                    <li>Collecting information from internet.</li>
                                                    <li>Analysis of information and processing.</li>
                                                    <li>Contact with players and provide information.</li>
                                                </ul>
                                                <p>Libraries and tools used in the project:</p>
                                                <ul>
                                                    <li>Python - main programing language.</li>
                                                    <li>BeautifulSoup - web scraping.</li>
                                                    <li>SQLite - main database.</li>
                                                    <li>Plotly - more modern analogue of matplotlib.</li>
                                                    <li>Telegram Bot API - the library on which the bot was based.</li>
                                                </ul>
                                            </div>
                                            <div class="secondary-info-slider">
                                                <div class="block-slider-project-page">
                                                    <div class="slider-telegram">
                                                        <div class="slider__wrapper-telegram">
                                                        <div class="slider__items-telegram">
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <a class="slider__control-telegram slider__control_prev-telegram" href="#" role="button"></a>
                                                        <a class="slider__control-telegram slider__control_next-telegram" href="#" role="button"></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <div class="column col3 pr-calc">
                                <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/calc-icon.png' %}" alt=''>
                                    <h2 class="icon-text">Travian Troop Calculator</h2>
                                </a>
                                <div class="column-info">
                                    <div class="info-text">
                                        <div class="main-info-text">
                                            <p>Travian Calculator is a mini algorithm with a graphical shell for the Travian browser game. The project was
                                                created at the request of a friend. The task was to calculate how many resources are needed to create a certain amount
                                                soldiers of a certain type, a certain faction.
                                            </p>
                                        </div>
                                        <div class="secondary-info-block">
                                            <div class="secondary-info-text">
                                                <p>Program features:</p>
                                                <ul>
                                                    <li>Ability to change the type and faction of the warrior.</li>
                                                    <li>Calculation of additional information.</li>
                                                    <li>Taking into account additional bonuses.</li>
                                                    <li>Different languages.</li>
                                                    <li>Ability to create both .exe and .apk versions.</li>
                                                </ul>
                                                <p>Libraries and tools used in the project:</p>
                                                <ul>
                                                    <li>Python - main programing language.</li>
                                                    <li>Kivy and KivyMD - graphic component of project.</li>
                                                    <li>SQLite - main database.</li>
                                                </p>
                                            </div>
                                            <div class="secondary-info-slider">
                                                <div class="block-slider-project-page">
                                                    <div class="slider-telegram">
                                                        <div class="slider__wrapper-telegram">
                                                        <div class="slider__items-telegram">
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                            <div class="slider__item-telegram">
                                                                <img class="slider__photo-telegram" src="{% static 'blog/img/telegram_bot_1photo.png' %}" alt=''>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <a class="slider__control-telegram slider__control_prev-telegram" href="#" role="button"></a>
                                                        <a class="slider__control-telegram slider__control_next-telegram" href="#" role="button"></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <div class="column col3 pr-website">    
                                <a class="column-link">
                                    <img class="icon" src="{% static 'blog/img/icons/website-icon.png' %}" alt=''>
                                    <h2 class="icon-text">My Own Website</h2>
                                </a>
                                <div class="column-info">
                                    <div class="info-text">
                                        <div class="main-info-text">
                                            <p>As I learned programming, I decided to try web programming,from backend to frontend and
                                                ending with deploying. Of course, the first thing that came to mind is portfolio website. At that time I had minimal knowledge of HTML,
                                                and zero in JavaScript and CSS. And of course, it was the first meeting with such a popular framework as Django. </p>
                                        </div>
                                        <div class="secondary-info-block">
                                            <div class="secondary-info-text">
                                                <p>Libraries and tools used in the project:</p>
                                                <ul>
                                                    <li>Django - backend part of project.</li>
                                                    <li>JavaScript - different scripts for sliders and animations (without JQuery).</li>
                                                </ul>
                                            </div>
                                            <div class="secondary-info-slider">
                                                <div class="block-slider-project-page">
                                                    <div class="slider-website">
                                                        <div class="slider__wrapper-website">
                                                        <div class="slider__items-website">
                                                            <div class="slider__item-website">
                                                                <img class="slider__photo-website" src="{% static 'blog/img/website-view-old1.png' %}" alt=''>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <a class="slider__control-website slider__control_prev-website" href="#" role="button"></a>
                                                        <a class="slider__control-website slider__control_next-website" href="#" role="button"></a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item-general">
                    <div id="hobbies_page" class="page">
                        <div class="col-block">
                            <div class="column col7 hobbie-ski">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-snowboard">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-rollerskate">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-rollerblade">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-videomake">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-gaming">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                            <div class="column col7 hobbie-printer3d">
                                <div class="column-info">
                                    <div class="info-text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="slider__control-general slider__control_prev-general" href="#" role="button" ></a>
        <a class="slider__control-general slider__control_next-general" href="#" role="button" ></a>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'blog/js/script_1.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/slider_scripts.js' %}"></script>
{% endblock %}